.favourite{
    height:847px;
    margin-top:190px;
}
.favourite h1{
    font-family: 'Poppins', sans-serif;     
font-weight: 900;
font-size: 48px;
line-height: 50px;
}
.youngimg{
    position: relative;
}
.leaf2{
    position: absolute;
    z-index: -1;
    top: 32px;
    left:280px;
}
.pink{
    display: flex;
    gap:47px;
    margin-top:104px;
}
.favourite .name{
    font-family: 'Poppins', sans-serif; 
    font-size: 32px;
    line-height: 50px;
    line-height: 104%;
    align-content: left;
    margin-bottom:28px;
    text-decoration: none;
    color: black;
    }
    .favourite .explore{
    font-family: 'Poppins', sans-serif; 
    font-size: 24px;
    line-height: 50px;
    line-height: 139%;
    color:#7F7F7F;
    padding-bottom:10px;
    text-decoration: none;
    }
    .favourite .text{
        display:flex;
    }
    .textarrow img{
        position: relative;
       justify-content: flex-end;
        top:20px;
    }

    @media (min-width:401px){
        .mobile-only{
            display: none !important;
        }
      }
      @media (max-width:400px)
      {
        .desktop-only{
        display:none !important;
        }
        ::-webkit-scrollbar{
            display: none;
        }
        .favourite{
            height:200px;
           margin-top: 10px;
        }
        .favourite h1{
        font-size: 12px;
        line-height: 50px;
        }
        .youngimg{
            position: relative;
        }
        .leaf2{
            position: absolute;
            z-index: -1;
            top: 22px;
            left:50px;
            width: 70px;
            height: 15px;
        }
        .arrow2{
            width: 10px;
            height: 10px;
        }
        .pink{
            display: flex;
            gap: 20px;
            margin-top:20px;
            overflow: auto;
         
        }
        .favourite .smiles{
            width: 170px;
            height: 160px;
        }
        .favourite .name{ 
            font-size: 10px;
            line-height: 15px;
            line-height: 104%;
            align-content: left;
            margin-bottom:28px;
           
            }
            .favourite .explore{
            font-size: 8px;
            line-height: 8px;
            line-height: 10%;
            padding-bottom:10px;
        
            }
            .favourite .text{
                display:flex;
            }
            .text img{
                position: relative;
               justify-content: flex-end;
                top:20px;
            }
      }