.logo{
    height: 186px;
    background-color:#EBD96B;
    margin-top: 63px;
}
.pictures{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top:63px;
    justify-content:space-around;
    
}