.email{
    background-color: #E5C643;
    height: 623px;
    text-align: center;
}
.email .firsthead{
    font-family: 'Poppins', sans-serif; 
font-weight: 900;
font-size: 55px;
line-height: 70px;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
padding-top: 141px;
}
.email p{
font-family: 'Poppins', sans-serif; 
font-weight: 400;
font-size: 32px;
line-height: 35px;
letter-spacing: 0.03em;
text-align: center;
color: #FFFCF8;
padding-top: 10px;
}

.email input{
    width:574px;
    height:87px ;
    background-color: white;
    border-radius: 10px;
   color:  #767676;
    font-family: 'Poppins', sans-serif;  
font-weight: 400;
font-size: 24px;
line-height: 35px;
letter-spacing: 0.03em;
position: absolute;
justify-content: center;
align-items: center;
}
.email button{
width:161px;
height:67px;
border-radius: 8px;
background-color: black;
color:white;
font-family: 'Poppins', sans-serif;  
font-weight: 500;
font-size: 33px;
position: relative;
margin-left:400px;
margin-top:10px;
}

@media (min-width:401px){
    .mobile-only{
        display: none !important;
    }
  }
  @media (max-width:400px)
  {
    .desktop-only{
    display:none !important;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .email{
        height: 200px;
        text-align: center;
        padding-top: 10px;
    }
    .email .firsthead{
    
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.03em;
    padding:10px 25px 0px 25px;
    }
    .email p{
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 10px;
    }
    .email input{
        width:300px;
        height:40px ;
        border-radius: 5px;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.03em;
    position: absolute;
    justify-content: center;
    align-items: center;
    }
    .email button{
    width:60px;
    height:30px;
    border-radius: 8px;
    font-size: 10px;
    position: relative;
    margin-left:235px;
    margin-top:5px;
    }
  }
