.end{
    background-color: black;
    color: white;
    height:545px;
    }
.fashion{
    padding-left:100px;
    padding-top:119px;
}
.fashion h1{
    font-family: 'Poppins', sans-serif;  
font-weight: 900;
font-size: 40px;
line-height: 60px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.apps{
    display:flex;
    gap:14px;
}
.fashion p{
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.02em;
color: #8E8E8E;
}
.about-us{
    display:flex;
    justify-content: space-between;
}
.sequences{
    padding-top: 125px;
    display:flex;
 gap: 188px;
    
}
.primary{
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.02em;
color: #D9D9D9;
text-decoration: none;
}
.lists{
    font-family: 'Roboto', sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 40px;
letter-spacing: 0.02em;
color: #7A7A7A;
text-decoration: none;
}
ul{
    list-style-type: none;
}

@media (min-width:401px){
    .mobile-only{
        display: none !important;
    }
  }
  @media (max-width:400px)
  {
    .desktop-only{
    display:none !important;
    }
    ::-webkit-scrollbar{
        display: none;
    }
    .end{
        height:300px;
        }
    .fashion{
        padding-left:40px;
        padding-top:20px;
    }
    .fashion h1{
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
    }
    .apps{
        display:flex;
        gap:14px;
    }
    .fashion p{
    font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.02em;
    }
    .about-us{
        display:flex;
        flex-direction: column-reverse;
    }
    .apps .social{
        width:20px;
        height: 20px;
    }
    .sequences{
        padding-top: 15px;
        display:flex;
     gap: 30px;
        
    }
    .primary{
        font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.02em;
    }
    .lists{
        font-size: 8px;
    line-height: 10px;
    letter-spacing: 0.02em;
    }
    ul{
        list-style-type: none;
    }
  }